body {  
    flex-wrap: wrap; 
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;   
} 

.big {
    color:blue
}

#b325,.b326  {
    border: 1px solid green
}

#b325,.b326, .b329 {
    font-weight: bold
}

p {
    background: yellow
}
button {
    color: red;
    font-weight: bold;
    background: rgb(243, 215, 198);
}



